<div class="wrapper list">
  <div *ngFor="let track of data" class="item">
    <a *ngIf="track.type === 'track'" class="track">
      <img src="{{track.cover}}" />
    </a>
    <div *ngIf="track.type === 'track'" class="details">
      <p>{{track.name}}</p>
      <!--{{track | json}}-->
    </div>
    <div *ngIf="track.type === 'video'" class="video">
      <img src="{{track.cover}}" />
    </div>
    <div *ngIf="track.type === 'ads'" class="ads">
      <img src="{{track.cover}}" />
    </div>
  </div>
</div>

